// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

a
    text-decoration:none
    color:#0055a9

.transparent
  background-color: transparent !important

#application
  background-color:white

section
  margin: 70px 0

.footer
  margin-top:70px
  min-height:300px

.text-muted
  color: #828282